%h1= t('trainings.listing_trainings')

%table
  %thead
    %tr
      %th= t('trainings.name')
      %th= t('trainings.description')
      %th= t('trainings.start_date_enrollment')
      %th= t('trainings.end_date_enrollment')
      %th= t('trainings.start_training_date')
      %th= t('trainings.end_training_date')
      %th= t('trainings.seedbed')
      %th
      %th
      %th

  %tbody
    - @trainings.each do |training|
      %tr
        %td= training.name
        %td= training.description
        %td= training.start_date_enrollment
        %td= training.end_date_enrollment
        %td= training.start_training_date
        %td= training.end_training_date
        %td= training.seedbed
        %td= link_to t('common.show'), training
        %td= link_to t('common.edit'), edit_training_path(training)
        %td= link_to t('common.destroy'), training, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to t('trainings.new_training'), new_training_path
