%p#notice= notice

%p
  %b= t('trainings.name'):
  = @training.name
%p
  %b= t('trainings.description'):
  = @training.description
%p
  %b= t('trainings.start_date_enrollment'):
  = @training.start_date_enrollment
%p
  %b= t('trainings.end_date_enrollment'):
  = @training.end_date_enrollment
%p
  %b= t('trainings.start_training_date'):
  = @training.start_training_date
%p
  %b= t('trainings.end_training_date'):
  = @training.end_training_date
%p
  %b= t('trainings.seedbed'):
  = @training.seedbed

= link_to ('common.edit'), edit_training_path(@training)
\|
= link_to ('common.back'), trainings_path
