%h1= t('seedbeds.listing_seedbeds')

%table
  %thead
    %tr
      %th= t('seedbeds.name')
      %th= t('seedbeds.acronym')
      %th= t('seedbeds.research_group')
      %th= t('seedbeds.research_area')
      %th
      %th
      %th

  %tbody
    - @seedbeds.each do |seedbed|
      %tr
        %td= seedbed.name
        %td= seedbed.acronym
        %td= seedbed.research_group
        %td= seedbed.research_area
        %td= link_to t('common.show'), seedbed
        %td= link_to t('common.edit'), edit_seedbed_path(seedbed)
        %td= link_to t('common.destroy'), seedbed, :method => :delete, :data => { :confirm => t('common.are_you_sure') }

%br

= link_to t('seedbeds.new_seedbed'), new_seedbed_path
