%p#notice= notice

%p
  %b= t('seedbeds.name'):
  = @seedbed.name
%p
  %b= t('seedbeds.acronym'):
  = @seedbed.acronym
%p
  %b= t('seedbeds.research_group'):
  = @seedbed.research_group
%p
  %b= t('seedbeds.research_area'):
  = @seedbed.research_area

= link_to t('common.edit') edit_seedbed_path(@seedbed)
\|
= link_to t('common.destroy'), seedbeds_path
